
@media (min-width: 768px) {
    html {
        font-size: 16px;
        position: relative;
        min-height: 100%;
    }
}

body {
    background-color: linen;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    font-family: Arial, sans-serif;
}

.nav-link.active {
    font-weight: bold;
    color: #333 !important; 
    border-bottom: 2px solid #333; 
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
    background-color: #4CAF50; 
    border: none;
}

.btn-primary:hover {
        background-color: #45a049; 
}

.btn-danger {
    background-color: #f44336; 
    border: none;
}

.btn-danger:hover {
        background-color: #d32f2f; 
}

.btn-sm {
    padding: 5px 10px;
    font-size: 0.875rem;
}

a.btn-link {
    color: #007bff;
    text-decoration: none;
}

a.btn-link:hover {
        color: #0056b3;
        text-decoration: underline;
}

.fa-bell {
    position: relative;
    font-size: 1.5em;
}
.notification-icon {
    position: relative;
    display: inline-block;
    margin-right: 10px; 
}

.notification-icon i {
        font-size: 1.5em; 
        vertical-align: middle;
}

.notification-icon .badge {
        position: absolute;
        top: -8px; 
        right: -8px; 
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 3px 7px;
        font-size: 0.75em;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin-top: 40px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.form-inline .btn {
    margin-right: 5px; 
}

.input-group {
    max-width: 500px; 
}


/* HomePage Styling/*/
.text-center h1.display-4 {
    font-size: 2.5rem;
    color: #343a40;
}

.text-center p {
    font-size: 1.2rem;
    color: #6c757d;
}

.login-page .container {
    display: none;
}

.login-container {
    max-width: 450px;
    margin: 100px auto; 
    padding: 30px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}


    .login-container h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .login-container h2 {
        font-size: 1.2em;
        margin-bottom: 20px;
        color: #6c757d;
    }


#login-submit {
    background-color: #28a745;
    color: #fff;
}

#login-submit:hover {
    background-color: #218838;
}

#forgot-password {
    color: #007bff;
}

#forgot-password:hover {
    color: #0056b3;
}

.login-form {
    width: 100%;
}

.text-center {
    text-align: center;
}
