@model DriverInfo.Models.Driver

@{
    ViewData["Title"] = "Edit";
}
<div class="text-center mb-4">
    <h2>Edit Driver</h2>
    <h4>@Model.DriverName</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DriverID" />
            <div class="form-group">
                <label asp-for="DriverName" class="control-label"></label>
                <input asp-for="DriverName" class="form-control" />
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarReg" class="control-label"></label>
                <input asp-for="CarReg" class="form-control" />
                <span asp-validation-for="CarReg" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="ResponsibleEmployee.Name" class="control-label"></label>
                    <select asp-for="ResponsibleEmployeeId" class="form-select" asp-items="ViewBag.Employees"></select>
                </div>
            }
            
            <div>
                <input type="submit" value="Save" class="btn btn-primary btn-block mt-4" />
                <a asp-action="Index" class="btn btn-secondary btn-block mt-4">Go back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
