@model DriverInfo.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="DriverID" />
            <input type="hidden" asp-for="ResponsibleEmployeeid" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventID" />
            <div class="form-group">
                <label asp-for="NoteDate" class="control-label"></label>
                <input asp-for="NoteDate" class="form-control" />
                <span asp-validation-for="NoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteDescription" class="control-label"></label>
                <input asp-for="NoteDescription" class="form-control" />
                <span asp-validation-for="NoteDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountIn" class="control-label"></label>
                <input asp-for="AmountIn" class="form-control" />
                <span asp-validation-for="AmountIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOut" class="control-label"></label>
                <input asp-for="AmountOut" class="form-control" />
                <span asp-validation-for="AmountOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block mt-4" />
                <a asp-controller="Driver" asp-action="Details" asp-route-id="@Model.DriverID" class="btn btn-secondary btn-block mt-4">Go back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
