@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.IsAuthenticated ? User.Identity.Name : "Gäst";
}

<div class="text-center">
    <h1 class="display-4">
        @if (User.Identity.IsAuthenticated)
        {
            <text>Hej @userName!</text>
        }
        else
        {
            <text>Välkommen!</text>
        }
    </h1>
    <p>
        @if (User.IsInRole("Admin"))
        {
            <text>Du är inloggad som Admin.</text>
        }
        else if (User.Identity.IsAuthenticated)
        {
            <text>Du är inloggad som @userName.</text>
        }
        else
        {
            <text>Vänligen logga in för att se mer information.</text>
        }
    </p>
    @if (User.IsInRole("Admin"))
    {
        <text>Detta system är byggt för att enkelt kunna se över sina förare och deras händelser.
            Du är nu inloggad som Admin och har du extra funktionaliteter, såsom en längre överblick utav händelser, kunna radera, lägga till och uppdatera både Drivers, Employees och Events.
        </text>
    }
    else
    {
        <text>Detta system är byggt för att enkelt kunna se över sina förare och deras händelser.</text>
    }
    
</div>
